/* MAIN BODY STYLE */


.origin{
  min-height: 95vh;
  height:100%;

}

html {
    flex: 1 0 auto;
}

/* LANDING PAGE HEADER */
.head {
  color: rgb(9, 11, 20);
  font-size: 50px;
  font-weight: 300;
}

code {
  font-family: 'Gentium Basic', serif;
}

.surveycontainer{
  padding-top: 40px;
}

img {
  width: 80px;
  height: auto;
}

.parallax-container {
  height: 600px;
}

/* NAVBAR HEADER */
.nav-head {
  font-family: 'Gentium Basic', serif;
  font-size: 30px;
}
.block{
  color: black;
}

.navbutton{
  text-align: center;
}
.footerflow{
  text-align: center;
  font-family: 'Gentium Basic', serif;
  font-size: 1rem;
}

/* PAGE (route) HEADERS */
.pageHeaders {

 font-family: 'Catamaran', sans-serif;
  font-size: 30px;
  opacity: 0.7;
}

.alert {
  margin-top: 20px;
}

