/* MAIN BODY STYLE */


.origin{
  min-height: 95vh;
  height:100%;

}

html {
    flex: 1 0 auto;
}

/* LANDING PAGE HEADER */
.head {
  font-family: 'Ultra', serif;
  color: #F44336;
  font-size: 50px;
  padding-top: 200px;
}

code {
  font-family: 'Gentium Basic', serif;
}

.surveycontainer{
  padding-top: 40px;
}

img {
  width: 200px;
}

/* NAVBAR HEADER */
.nav-head {
  font-family: 'Gentium Basic', serif;
  font-size: 30px;
}
.block{
  color: black;
}

.navbutton{
  text-align: center;
}
.footerflow{
  text-align: center;
  font-family: 'Gentium Basic', serif;
  font-size: 1rem;
}

/* PAGE (route) HEADERS */
.pageHeaders {

 font-family: 'Catamaran', sans-serif;
  font-size: 30px;
  opacity: 0.7;
}

h4{
  color: #4285f4;
  font-weight: 100;
}

.alert {
  margin-top: 20px;
}

